@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body{
    font-family: 'Lato', Helvetica, sans-serif;
    background-color: rgba(230, 53, 156, 0.507);
    margin: 0 auto;
    height: 100vh;
}
* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
}
h1{
    color: #333447;
    font-size: 20px;
    text-align: center;
}
h2{
    text-align: center;
}

.container1 {
    max-width: 1024px;
    margin: 0 auto;
    padding: 6px 25px;
}
.header .xmonitor-header {
    width: 85%;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 3px solid white;
    color: #333447;

}
.container{
    width: 700px;
    max-width: 1024px;
    /* height: 550px; */
    border: solid #fff;
    margin: auto;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}

.footer{
    /* display: flex; */
    justify-content: space-around;
    /* background-color: lightgreen; */
    padding: 1em;
}
.header{
    /* background-color: lightgreen; */
    margin-bottom: 5%;
}
    canvas{       
        border: 1px solid rgb(249, 250, 250);       
    }
    .button {
        background-color: white;
        color: rgb(82, 6, 92);
        border: 3px solid black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      .button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
@media only screen and (max-width: 768px){
    h1{
        color: black;
        font-size: larger;
        text-align: center;
    }
    .container{
        width: 50%;
        height: 80%;
        border: solid #fff;
        margin: auto;
    }
    .clearfix {
        overflow: auto;
        zoom: 1;
    }
    .main{
        height: 80%;
        background-color: #fff;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        /* background-color: lightgreen; */
        padding: 1em;
    }
    .main h5 {
        float: left;
        margin-top: 10%;
    }
    
   
}

@media only screen and (min-width: 769px){
    h1{
        color: black;
        font-size: larger;
        text-align: center;
    }
    .container{
        width: 700px;
        height: 550px;
        border: solid #fff;
        margin: auto;
    }
    .clearfix {
        overflow: auto;
        zoom: 1;
    }
    .main{
        height: 70%;
        background-color: #fff;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        padding: 1em;
        margin-bottom: 0%;
        margin-bottom: 2%;
    }
  
    .cav{
        display: block;
    }
}
h6{
    margin-left: 20%;
    
}

.main h5 {
    float: left;
    margin-top: 10%;
    transform: rotate(-90deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   margin-left: 0.1%;
  }